# HW

Мои Фамилия Имя: Тен Станислав

In [1]:
import numpy as np
import pandas as pd

##### Загрузите датасет titanic.csv

In [2]:
df_titanic = pd.read_csv('titanic.csv')

In [3]:
df_titanic.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
df_titanic.shape

(891, 12)

In [5]:
df_titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
PassengerId    891 non-null int64
Survived       891 non-null int64
Pclass         891 non-null int64
Name           891 non-null object
Sex            891 non-null object
Age            714 non-null float64
SibSp          891 non-null int64
Parch          891 non-null int64
Ticket         891 non-null object
Fare           891 non-null float64
Cabin          204 non-null object
Embarked       889 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.6+ KB

> Обратите внимание на разное количество значений переменных
Если это так - то у вас пропуски в данных. Такое бывает. 
Например в этом датасете не получилось выяснить всех подробностей у некоторых людей в виду утери данных, невозможности узнать или восстановить их

In [6]:
df_titanic.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

> Давайте возьмем для начала только несколько признаков, позже - вы увеличите их количество и сделаете соответствующую обработку.

In [7]:
columns = ['Sex', 'Age', 'Pclass', 'Survived']

In [8]:
simple_train = df_titanic[columns].loc[:500]
simple_test = df_titanic[columns].loc[501:]

> мы пока не умеем на уровне алгоритма работать с пропущенными значениями. 
Представьте вам дают 5-мерный вектор у которого заполнены только три компоненты и другой такой же вектор но у него заполнены лишь две  компоненты.  Как померить их сходство????

distance_between( [1,0,1, NaN, NaN], [NaN, 1, 1, NaN, NaN] )

> один из вариантов - заполнить какими то значениями - например если это возраст - то заполнить средним по датасету или нулем.

>> на будущее - в sklearn есть такой модуль - http://scikit-learn.org/stable/modules/impute.html но сейчас можете заполнить пропуски средствами pandas - метод fillna()

##### Заполните пропущенные значения чем нибудь

In [9]:
simple_train = simple_train.fillna(simple_train.Age.mean())
simple_test = simple_test.fillna(simple_test.Age.mean())

> мы чемпионы. Но мы понимаем, что алгоритм у нас метрический - он не понимает как померить близость векторов в которых содержатся строки

distance( [1,1,0,'мужик'], [1, 0, 1, 'принцесска'] )

> поэтому давайте заведем признак is_man который будет принимать значение 0 или 1.

##### Заведите бинарный признак отвечающий за пол. Строковый удалите

хинт - есть метод apply()

In [10]:
simple_train['Sex'] = simple_train['Sex'].apply({'male':1, 'female':0}.get)
simple_test['Sex'] = simple_test['Sex'].apply({'male':1, 'female':0}.get)

In [11]:
simple_train.columns = ['is_man', 'Age', 'Pclass', 'Survived']
simple_test.columns = ['is_man', 'Age', 'Pclass', 'Survived']

In [12]:
print(simple_train)
print(simple_test)

     is_man        Age  Pclass  Survived
0         1  22.000000       3         0
1         0  38.000000       1         1
2         0  26.000000       3         1
3         0  35.000000       1         1
4         1  35.000000       3         0
5         1  29.174185       3         0
6         1  54.000000       1         0
7         1   2.000000       3         0
8         0  27.000000       3         1
9         0  14.000000       2         1
10        0   4.000000       3         1
11        0  58.000000       1         1
12        1  20.000000       3         0
13        1  39.000000       3         0
14        0  14.000000       3         0
15        0  55.000000       2         1
16        1   2.000000       3         0
17        1  29.174185       2         1
18        0  31.000000       3         0
19        0  29.174185       3         1
20        1  35.000000       2         0
21        1  34.000000       2         1
22        0  15.000000       3         1
23        1  28.000000       1         1
24        0   8.000000       3         0
25        0  38.000000       3         1
26        1  29.174185       3         0
27        1  19.000000       1         0
28        0  29.174185       3         1
29        1  29.174185       3         0
..      ...        ...     ...       ...
471       1  38.000000       3         0
472       0  33.000000       2         1
473       0  23.000000       2         1
474       0  22.000000       3         0
475       1  29.174185       1         0
476       1  34.000000       2         0
477       1  29.000000       3         0
478       1  22.000000       3         0
479       0   2.000000       3         1
480       1   9.000000       3         0
481       1  29.174185       2         0
482       1  50.000000       3         0
483       0  63.000000       3         1
484       1  25.000000       1         1
485       0  29.174185       3         0
486       0  35.000000       1         1
487       1  58.000000       1         0
488       1  30.000000       3         0
489       1   9.000000       3         1
490       1  29.174185       3         0
491       1  21.000000       3         0
492       1  55.000000       1         0
493       1  71.000000       1         0
494       1  21.000000       3         0
495       1  29.174185       3         0
496       0  54.000000       1         1
497       1  29.174185       3         0
498       0  25.000000       1         0
499       1  24.000000       3         0
500       1  17.000000       3         0

[501 rows x 4 columns]
     is_man        Age  Pclass  Survived
501       0  21.000000       3         0
502       0  30.364032       3         0
503       0  37.000000       3         0
504       0  16.000000       1         1
505       1  18.000000       1         0
506       0  33.000000       2         1
507       1  30.364032       1         1
508       1  28.000000       3         0
509       1  26.000000       3         1
510       1  29.000000       3         1
511       1  30.364032       3         0
512       1  36.000000       1         1
513       0  54.000000       1         1
514       1  24.000000       3         0
515       1  47.000000       1         0
516       0  34.000000       2         1
517       1  30.364032       3         0
518       0  36.000000       2         1
519       1  32.000000       3         0
520       0  30.000000       1         1
521       1  22.000000       3         0
522       1  30.364032       3         0
523       0  44.000000       1         1
524       1  30.364032       3         0
525       1  40.500000       3         0
526       0  50.000000       2         1
527       1  30.364032       1         0
528       1  39.000000       3         0
529       1  23.000000       2         0
530       0   2.000000       2         1
..      ...        ...     ...       ...
861       1  21.000000       2         0
862       0  48.000000       1         1
863       0  30.364032       3         0
864       1  24.000000       2         0
865       0  42.000000       2         1
866       0  27.000000       2         1
867       1  31.000000       1         0
868       1  30.364032       3         0
869       1   4.000000       3         1
870       1  26.000000       3         0
871       0  47.000000       1         1
872       1  33.000000       1         0
873       1  47.000000       3         0
874       0  28.000000       2         1
875       0  15.000000       3         1
876       1  20.000000       3         0
877       1  19.000000       3         0
878       1  30.364032       3         0
879       0  56.000000       1         1
880       0  25.000000       2         1
881       1  33.000000       3         0
882       0  22.000000       3         0
883       1  28.000000       2         0
884       1  25.000000       3         0
885       0  39.000000       3         0
886       1  27.000000       2         0
887       0  19.000000       1         1
888       0  30.364032       3         0
889       1  26.000000       1         1
890       1  32.000000       3         0

[390 rows x 4 columns]

##### Сформируйте трейн и тест выборку, где в X лежат признаки 'Sex', 'Age', 'Pclass', а в у - Survived

Результат - numpy array

hint - у pandas есть метод drop() и атрибут values; Пощупайте их

In [33]:
X_train = simple_train.drop(columns = ['Survived'])
X_test = simple_test.drop(columns = ['Survived'])
y_train = simple_train.drop(columns = ['is_man', 'Age', 'Pclass'])
y_test = simple_test.drop(columns = ['is_man', 'Age', 'Pclass'])

In [34]:
X_train = np.array(X_train)
X_test = np.array(X_test)
y_train = np.array(y_train)
y_test = np.array(y_test)

In [35]:
y_train = y_train.ravel()
y_test = y_test.ravel()

In [43]:
X_m = X_train.mean(axis=0)
X_s = X_train.std(axis=0)

X_train = (X_train - X_m) / X_s
X_test = (X_test - X_m) / X_s

# max_ = X_train.max(axis=0)
# min_ = X_train.min(axis=0)

# X_train = (X_train - min_) / (max_ - min_)
# X_test = (X_test - min_) / (max_ - min_)

In [44]:
assert isinstance(X_train, np.ndarray)
assert isinstance(X_test, np.ndarray)
assert isinstance(y_train, np.ndarray)
assert isinstance(y_test, np.ndarray)

In [45]:
assert X_train.shape[0] == y_train.shape[0]
assert X_test.shape[0] == y_test.shape[0]

In [46]:
assert not np.any(np.isnan(X_train)), 'у вас в данных есть пропущенные значения. Заполните их или удалите'
assert not np.any(np.isnan(X_test)), 'у вас в данных есть пропущенные значения. Заполните их или удалите'

##### Реализуйте KNN. Сами, как делали это на лекции. 

Можете улучшить его.
(например использовать kd-tree для быстрого поиска ближайших соседей, 
 или обходить соседей и класть расстояния в мин-кучу - тогда вы быстрее будете набирать их, без сортировки.)

In [47]:
class KNN:
    """
    simple KNN classifier with O(n) complexity for memory,
    and O(n log n) complexity - for nn search.
    """
    
    def __init__(self, n):
        self.n = n
        
    def fit(self, X, y):
        self.X = X
        self.y = y
    
    def predict(self, X):
        y_hat = []
        assert len(X.shape) == 2
        for (s,a,c) in X:
            d = np.sqrt( (self.X[:,0] - s) ** 2 + (self.X[:,1] - a) ** 2 + (self.X[:,2] - c) ** 2)
            idx = np.argsort(d)[:self.n]
            counts = np.bincount(self.y[idx])
            pred = np.argmax(counts)
            y_hat.append(pred)
        return np.array(y_hat)
    
    
#     y = []
#         assert len(X.shape) == 2
#         for (h, w) in X:
#             ### Посчитаем расстояние от всех элементов в тренировочной выборке
#             # до текущего примера -> результат - вектор размерности трейна
#             d = np.sqrt( (self.X[:,0] - h) ** 2 + (self.X[:,1] - w) ** 2 )
#             ### Возьмем индексы n элементов, расстояние до которых минимально
#             ### результат -> вектор из n элементов
#             idx = np.argsort(d)[:self.n]
#             ### Посчитаем частоту меток для каждого случая 
#             ### результат -> вектор длинны 2 который покажет
#             ### сколько соседей 0-го класса, сколько соседей 1-го класса.
#             counts = np.bincount( self.y[idx] )
#             ### возьмем самый часто встречаемый в соседях класс.
#             prediction = np.argmax(counts)
#             y.append(prediction)
#         return y

In [48]:
knn = KNN(5)

knn.fit(X_train, y_train)
y_pred = knn.predict(X_test)

##### посчитайте руками (не используя sklearn) качество вашего предсказания

In [49]:
acc = np.mean(y_pred == y_test)
print('доля правильных ответов:', acc)

доля правильных ответов: 0.8153846153846154

In [50]:
np.unique(y_pred)

array([0, 1])

> Мы получили бейслайн решение. Оно должно давать скорр в районе 0.76

____

In [51]:
### можете проверить себя

from sklearn.metrics import accuracy_score
print(accuracy_score(y_test, y_pred))

0.8153846153846154

In [52]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

clf=KNeighborsClassifier(n_neighbors=5)
clf.fit(X_train, y_train)
y_pred = clf.predict(X_test)

np.unique(y_pred)

print(accuracy_score(y_test, y_pred))

0.8076923076923077

##### TODO продолжение домашки

1) Добавьте еще признаков. Как минимум хочется чтобы вы добавили в X такие признаки как Cabin, Fare и Embarked.

2) Предобработайте признаки для нашего алгоритма. Поминим - что он (метрический) основан на том, что мы будем считать расстояния. 
Для этого нужно подготовить данные соответственно - привести к одному масштабу и проч. 
(https://sebastianraschka.com/Articles/2014_about_feature_scaling.html#about-standardization)

Когда мы делаем такие преобразования - хочется чтобы знания и любая статистика о тесте не проникали в обучение - 
иначе будет проблема data leakage, а она в свою очередь приведет к переобучению.

Поэтому аккуратно делим на трейн-тест (можно на трейн-валидацию-тест) считаем статистики на обучающей части и применяем их к тестовой.


3) Дальше. Признаки с пропусками - вы знаете что делать. Нужно проявить фантазию и погуглить как их правильно заполнять.

4) Признаки бывают непрерывными и категориальными. К категориальным признакам можно отнести например строки, тип палубы и прочее.
Как их предобрабатывать - зависит от алгоритма. 
Самый простой способ, что сделать с категориальными признаками - представить в виде dummy признаков - так называемый one hot encoding.

4) признак Cabin мб может помочь, но нужно проявить фантазию и вытащить что нибудь полезное.
Например - вытащить оттуда тип палубы.

5) Попробуйте разбить данные на три части (трейн-валидацию-тест) и подобрать гиперпараметр - число ближайших соседей. 
Как вариант можно выбирать на валидации алгоритм который дал наилучший скорр, а затем посмотреть его качество на тесте.

6) советоваться друг с другом можно. Списывать нельзя. Читайте треды kaggle. Спрашивайте преподавателей! Запилите крутые фичи!